[submodule "blue_ws/src/teleop_twist_keyboard"]
	path = blue_ws/src/teleop_twist_keyboard
	url = https://github.com/ros-teleop/teleop_twist_keyboard
[submodule "blue_ws/src/fsm_imu"]
	path = blue_ws/src/fsm_imu
	url = https://github.com/jsford/fsm_imu.git
